<div id="<%= dom_id potato %>">
  <p>
    <strong>Kg:</strong>
    <%= potato.kg %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= potato.brand %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= potato.price %>
  </p>

</div>
