<div id="<%= dom_id rice %>">
  <p>
    <strong>Kg:</strong>
    <%= rice.kg %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= rice.price %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= rice.brand %>
  </p>

</div>
